.new-card1 {
    margin-top: 20px;
    max-height: 30rem;
    width: 25rem;
}

.image1 {
    width: 30rem;
    height: 15rem;
}

.card-action {
    border-width: 1px;
    border-radius: 20px;

}.card-content p {
     
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;    
    text-align: center; 
    font-size: 18px;
}

.card-reveal .chip2{
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.btn {
    border-radius: 20px;
    background-color: gray;
}

.btn1 {
    width: 50%;
    align-self: center;
}

.btn a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.fa-github {
    padding-right: 10px;
}

.card-reveal p {
    font-size: 16px;
    text-align: center;
}

.card-content .card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

.card-reveal .card-title {
    font-size: 1.3rem;
    font-weight: bold;
}


 @media(min-width: 1200px),
(min-device-width: 1025px) and (max-device-width: 1300px) {
    .new-card1 {
        width: 25rem;
        height: 35rem;
    }
  } 


@media(max-width: 900px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    .new-card1 {
        justify-content: space-between;
        justify-self: center;
        flex-wrap: wrap;
        width: 22rem;
        height: 37rem;
    }

    .card-content .card-title {
        font-size: 1rem;
        font-weight: bold;
    }
    .card-content p {
        font-size: 12px;
        text-align: center;
    }

    .btn1 {
        width: 70%;
        align-self: center;
        justify-content: center;
        height: 8%;
        margin-bottom: 10px;
    }

    .btn1 a {
        font-size: 10px;

    }

    .btn1 i {
        font-size: 12px;
    }

    .card-content i {
        font-size: 12px;
    }

    .image1 {
        width: 22rem;
        height: 14rem;
    }
    
  
     
    } 


    @media(max-width: 500px) {

        .new-card1 {
            justify-content: space-between;
            justify-self: center;
            flex-wrap: wrap;
            width: 22rem;
        }
        } 
    
 




